@keyframes spin { 
    100% {transform:rotate(360deg);} 
}

@keyframes blur {
    100% {color: red};
}

@keyframes revolt {
    50% {transform: rotate3d(10,5,7, 10deg);}
    100% {transform: rotate3d(10,5,7, -10deg);}
}

@keyframes grow {
    100% {width: 500px;}
}